# Tuple

In [1]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
# tuple with mixed datatypes
my_tuple = (1,"hello" , 3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse", [8,4,6], (1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
# a tuple can also be created without using parentheses
# this is known as tuple packing
my_tuple = 3, 4.6, "apple"
print(my_tuple)

(3, 4.6, 'apple')

In [5]:
# concatenation 
# output : (1,2,3,4,5,6)
print((1,2,3)+(4,5,6,))

(1, 2, 3, 4, 5, 6)

In [1]:
# Repeat
# output ('repeat' , ' repeat' , 'repeat')
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [3]:
my_tuple= ('a','p','p','l','e',)
print(my_tuple.count('p')) # Output :2
print(my_tuple.index('l')) # Output :3

2
3

SET
 It is unordered and unindexed (which means no slicing).
 It does not contain duplicate values.
 Used to perform mathematical operations.
 It is mutable.
 No nesting in SET.
 No set and list can be made as set items.

In [6]:
# set of integers
my_set={1,2,3}
print(my_set)

{1, 2, 3}

In [7]:
#set of mixed datatypes
my_set={1.0,"oye",(1,2,3)}
print(my_set)

{'oye', 1.0, (1, 2, 3)}

In [8]:
# we can make set from a list 
# output : {1,2,3}
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [9]:
# set cannot have duplicates
# output: {1,2,3,4}
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

my_set= {1,2,[3,4]}
Set cannot have mutable items. Here [3,4] is a mutable list.
OUTPUT :-
TypeError: unhashable type: 'list'

In [5]:
# initialize 'a' with a set()
a= set()

# check datatype of 'a'
print(type(a))

<class 'set'>

In [6]:
# initialize my_set 
my_set= {1,3}
print (my_set)


# adding a single element 
my_set.add(2)
print(my_set)

# adding multiple elements
my_set.update([2,3,4])
print(my_set)


# adding list and set
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [7]:
# initialize my_set 
my_set= {1,3,4,5,6}
print (my_set)


# discarding an element
my_set.discard(4)
print(my_set)


# removing an element 
my_set.remove(6)
print(my_set)


# pops a random element
my_set.pop()
print(my_set)


# clear my_set
my_set.clear()
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{3, 5}
set()

In [10]:
A= {1,2,3,4,5,}
B={4,5,6,7,8}

In [11]:
# use | operator
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:


# use union function
A.union(B)

# Use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
print (A&B)

{4, 5}

In [14]:
A.intersection(B)

{4, 5}

In [15]:
print(A-B)

{1, 2, 3}

In [16]:
A.difference(B)

{1, 2, 3}

In [17]:
# SET SYMMETRIC DIFFERENCE 
print(A^B)

{1, 2, 3, 6, 7, 8}

In [18]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [22]:
# WAP TO ENTER 10 VALUES FROM USER
user_set = set()
for i in range(10):
    inp=int(input("enter 10 values"))
    user_set.add(inp)
print(user_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
# CREATE 2 SETS OF ELCETRIC DEVICES AND PERFORM SET OPERATIONS ON THEM

C={'MONITOR','LAPTOP','FAN'}
D={'AIR CONDITIONER','LAPTOP','PHONE'}

print(C|D)

print(C.union(D))

print(C.intersection(D))

print(C-D)

print(C^D)

{'PHONE', 'LAPTOP', 'FAN', 'MONITOR', 'AIR CONDITIONER'}
{'PHONE', 'LAPTOP', 'FAN', 'MONITOR', 'AIR CONDITIONER'}
{'LAPTOP'}
{'FAN', 'MONITOR'}
{'PHONE', 'FAN', 'MONITOR', 'AIR CONDITIONER'}

In [1]:
dry_fruits= {'dates','almond','walnut'}
fruits= {'mango','banana','apple'}

all_fruits= dry_fruits|fruits

print(all_fruits)
print(dry_fruits)
print(fruits)


ans= dry_fruits.isdisjoint(fruits)
print(ans)

ans = dry_fruits.issubset(all_fruits)
print("dry fruits is subset of all fruits:", ans)

ans = fruits.issuperset({'apple','banana'})
print("fruits is super set of apple and banana:", ans)

{'dates', 'mango', 'banana', 'apple', 'walnut', 'almond'}
{'dates', 'walnut', 'almond'}
{'apple', 'banana', 'mango'}
True
dry fruits is subset of all fruits: True
fruits is super set of apple and banana: True