In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
test = pd.read_excel('test_DataScience.xlsx')
print(test)

      Year Month   Laptop/Desktop Type_of_Customers?           Coming from  \
0     2020   Jan  Desktop_Website  Existing_Customer    Came_From_LinkedIn
1     2020   Jan  Desktop_Website  Existing_Customer    Came_From_LinkedIn
2     2020   Jan  Desktop_Website  Existing_Customer    Came_From_LinkedIn
3     2020   Jan  Desktop_Website  Existing_Customer    Came_From_LinkedIn
4     2020   Jan  Desktop_Website  Existing_Customer    Came_From_LinkedIn
...    ...   ...              ...                ...                   ...
2155  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2156  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2157  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2158  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2159  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources

     Place_in_India   Level 1   Level 2  Level 3  Level 4
0         Bengaluru       NaN       NaN    56892    17178
1         Hyderabad       NaN       NaN    41460    11916
2          Dehradun       NaN       NaN    55561    19461
3            Indore       NaN       NaN   320923   110667
4              Pune       NaN       NaN   220937    46033
...             ...       ...       ...      ...      ...
2155      Bengaluru   67299.0   21255.0     6984     1882
2156      Hyderabad  430294.0  156510.0    46676    16703
2157       Dehradun   48713.0   27770.0     7515     2089
2158         Indore  593021.0  310836.0   161575    78465
2159           Pune  372897.0  123057.0    48802    19441

[2160 rows x 10 columns]

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                2160 non-null   int64
 1   Month               2160 non-null   object
 2   Laptop/Desktop      2160 non-null   object
 3   Type_of_Customers?  2160 non-null   object
 4   Coming from         2160 non-null   object
 5   Place_in_India      2160 non-null   object
 6   Level 1             1081 non-null   float64
 7   Level 2             1081 non-null   float64
 8   Level 3             2160 non-null   int64
 9   Level 4             2160 non-null   int64
dtypes: float64(2), int64(3), object(5)
memory usage: 168.9+ KB

In [4]:
print (test.Place_in_India)

0       Bengaluru
1       Hyderabad
2        Dehradun
3          Indore
4            Pune
          ...
2155    Bengaluru
2156    Hyderabad
2157     Dehradun
2158       Indore
2159         Pune
Name: Place_in_India, Length: 2160, dtype: object

In [17]:
def data_cleaning(test) :
    test['Month']=test['Month'].replace(['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],['1','2','3','4','5','6','7','8','9','10','11','12'])
    
   # test['Coming from']=test['Coming from'].replace(['Came_From_LinkedIn','Landed_Directly'],['LinkedIn','Direct_traffic'])
print(test)

      Year Month   Laptop/Desktop Type_of_Customers?           Coming from  \
0     2020   Jan  Desktop_Website  Existing_Customer              LinkedIn
1     2020   Jan  Desktop_Website  Existing_Customer              LinkedIn
2     2020   Jan  Desktop_Website  Existing_Customer              LinkedIn
3     2020   Jan  Desktop_Website  Existing_Customer              LinkedIn
4     2020   Jan  Desktop_Website  Existing_Customer              LinkedIn
...    ...   ...              ...                ...                   ...
2155  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2156  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2157  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2158  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources
2159  2022   Dec   Laptop_Website       New_Customer  Unidentified_Sources

     Place_in_India   Level 1   Level 2  Level 3  Level 4
0         Bengaluru       NaN       NaN    56892    17178
1         Hyderabad       NaN       NaN    41460    11916
2          Dehradun       NaN       NaN    55561    19461
3            Indore       NaN       NaN   320923   110667
4              Pune       NaN       NaN   220937    46033
...             ...       ...       ...      ...      ...
2155      Bengaluru   67299.0   21255.0     6984     1882
2156      Hyderabad  430294.0  156510.0    46676    16703
2157       Dehradun   48713.0   27770.0     7515     2089
2158         Indore  593021.0  310836.0   161575    78465
2159           Pune  372897.0  123057.0    48802    19441

[2160 rows x 10 columns]